@model User

@{
    ViewBag.Title = Resources.Dashboard;
}

<h2>@ViewBag.Title</h2>

<h4>
    @Html.Label(Resources.Welcome + " " + Model.FullName.ToUpper())
</h4>

<div class="row">
    <div class="col col-lg-2">
        <label>
            @Resources.NameDisplay:
        </label>
    </div>
    <div class="col col-lg-3">
        @Model.FullName
    </div>
</div>

<div class="row">
    <div class="col col-lg-2">
        <label>
            @Resources.EmailDisplay:
        </label>
    </div>
    <div class="col col-lg-3">
        @Model.Email
    </div>
</div>

<div class="row">
    <div class="col col-lg-2">
        <label>
            @Resources.DateOfBirthDisplay:
        </label>
    </div>
    <div class="col col-lg-3">
        @Model.Age
    </div>
</div>

<div class="row">
    <div class="col col-lg-2">
        <label>
            @Resources.PhoneNumberDisplay:
        </label>
    </div>
    <div class="col col-lg-3">
        @Model.PhoneNumber
    </div>
</div>

<div class="row">
    <div class="col col-lg-2">
        <label>
            @Resources.CountryDisplay:
        </label>
    </div>
    <div class="col col-lg-3">
        @Model.Country
    </div>
</div>

<div class="row">
    <div class="col col-lg-2">
        <label>
            @Resources.RolesDisplay:
        </label>
    </div>
    <div class="col col-lg-3">
        @Model.UserRoles
    </div>
</div>
