@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3">
        <ul class="list-group">
            @if (new[] { "Super Administrator", "Administrator" }.Any(role => User.IsInRole(role)))
            {
                @Html.ActionLink(Resources.ManageUsers, "Index", "Account", null, new { @class = "list-group-item" })
            }
            @if (new[] { "Super Administrator", "Administrator", "Researcher" }.Any(role => User.IsInRole(role)))
            {
                @Html.ActionLink(Resources.ManageProducts, "Index", "Products", null, new { @class = "list-group-item" })
                @Html.ActionLink(Resources.ManageEvaluations, "Index", "Evaluations", null, new { @class = "list-group-item" })
            }

            @Html.ActionLink(Resources.MyEvaluations, "MyEvaluations", "Evaluations", null, new { @class = "list-group-item" })
            @Html.ActionLink(Resources.EditProfile, "EditProfile", "Manage", null, new { @class = "list-group-item" })
        </ul>
    </div>
    <div class="col-md-9">
        @RenderBody()
    </div>
</div>
