@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3">
        <ul class="list-group">
            @if (new[] { "SuperAdministrator", "Administrator"}.Any(role => this.User.IsInRole(role)))
            {
                @Html.ActionLink("Manage Users", "Index", "Users", null, new { @class = "list-group-item" })
            }
            @if (new[] { "SuperAdministrator", "Administrator", "Researcher" }.Any(role => this.User.IsInRole(role)))
            {
                @Html.ActionLink("Manage Products", "Index", "Products", null, new { @class = "list-group-item" })
                @Html.ActionLink("Manage Evaluation", "Index", "Evaluations", null, new { @class = "list-group-item" })
                @Html.ActionLink("View Evaluation Attribute", "Index", "EvaluationAttributes", null, new { @class = "list-group-item" })
            }

            @Html.ActionLink("Notifications", "Notifications", "Home", null, new { @class = "list-group-item" })
            @Html.ActionLink("Change Password", "ChangePassword", "Manage", null, new { @class = "list-group-item" })
        </ul>
    </div>
    <div class="col-md-9">
        @RenderBody()
    </div>
</div>
