<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <meta content='Tampereen Yliopisto' name='dcterms.rightsHolder'>
    <meta content='All right reserved, Tampereen Yliopisto' name='dcterms.rights'>
    <meta content='2014' name='dcterms.dateCopyrighted'>
    <meta content='Requirement Gathering Tool' name='Title'>
    <meta content='Requirement Gathering Tool' name='PTSearchTitle'>
    <meta content='A tool to help gathering requirements using Repertory Grid and association-analysis.' name='description'>
    <meta content='Requirement Gathering, Repertory Grid, Association Analysis, Requirement Gathering Tool' name='keywords'>
    <meta content='#909090' name='msapplication-TileColor'>
    <meta content='/images/icon.png' name='msapplication-TileImage'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <title>@ViewBag.Title - Requirement Gathering Tool</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="icon" type="image/png" href="/images/icon.png" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img title="Requirement Gathering Tool" src='/images/icon.png' width="35" /></a>
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_TopMenu")
                @Html.Partial("_LoginPartial")
                @Html.Partial("_LanguageSelection")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <!-- #region Breadcrumb -->
        @Html.Raw(Html.BuildBreadcrumbNavigation())
        <!-- #endregion -->
        <!-- #region Flash Messages -->
        <div id="flashNotification" class="@(string.IsNullOrEmpty(ViewBag.StatusMessage)? "hidden":string.Empty)">
            <p class="text-success">
                <span class="glyphicon glyphicon-saved"></span>
                @Html.Raw(ViewBag.StatusMessage)
            </p>
        </div>
        <!-- #endregion -->
        @RenderBody()
        <hr />
        <footer class="navbar-fixed-bottom">
            <p>&copy; @DateTime.Now.Year - @Resources.Copyright</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
</body>
</html>
