@model IEnumerable<RequirementGathering.Models.EvaluationAttribute>

    @{
    ViewBag.Title = "View Attribute";
    Layout = "~/Views/Shared/_AuthorizedLayout.cshtml";
    }

 <h2>Evaluation Attribute</h2>

@using (Html.BeginForm("ViewAttribute", "Researcher"))
{
        @Html.Label("Version :")

        @Html.DropDownList("searchString", ViewData ["DropDownItems"] as List<SelectListItem>)
        <input type="submit" value="Search" class="btn btn-link" />
}

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Attribute.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Evaluation.Version)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Attribute.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Evaluation.Version)
                </td>
            </tr>
        }

    </table>
