@model Evaluation

@{
    ViewBag.Title = Resources.Details;
    var descriptionValue = Resource.GetPropertyValue<Evaluation>(Model.Id, "Description");
    var productNameValue = Resource.GetPropertyValue<Product>(Model.Product.Id, "Product.Name");
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>@Resources.Evaluation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Version)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Version)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(_ => descriptionValue)
        </dd>

        <dt>
            @Resources.ProductName
        </dt>

        <dd>
            @Html.DisplayFor(_ => productNameValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @(Model.IsActive ? Resources.Yes : Resources.No)
        </dd>

        @if (!string.IsNullOrEmpty(Model.ImageUrl))
        {
            <dd>
                <img src="@Model.ImageUrl" class="img-thumbnail" alt="Evaluation Image" />
            </dd>
        }
        else
        {
            <dd>@Resources.NoImageMessage</dd>
        }

    </dl>

    <br /><br />
    <h4>Attributes</h4>
    <hr />
    <ul class="dl-horizontal">
        @if (Model.Attributes.Any())
        {
            foreach (var attribute in Model.Attributes)
            {
                var attributeName = Resource.GetPropertyValue<RequirementGathering.Models.Attribute>(attribute.Id.Value, "Name");

                <li class="badge text-center">
                    <span class="glyphicon-tag glyphicon"></span>
                    @attributeName
                </li>
            }
        }
        else
        {
            <li class="text-danger">
                @Resources.NoAttributesAvailable
            </li>
        }
    </ul>
</div>

<p>
    <a href="/@ViewBag.CurrentCulture/Evaluations">
        <span class="glyphicon glyphicon-hand-left"></span> @Resources.BackToList
    </a> |
    <a href="/@ViewBag.CurrentCulture/Evaluations/Edit/@Model.Id">
        <span class="glyphicon glyphicon-edit"></span> @Resources.Edit
    </a>
</p>
