@model Evaluation

@{
    ViewBag.Title = Resources.EvaluationDescription;
    var evaluationDescriptionValue = Resource.GetPropertyValue<Evaluation>(Model.Id, "Description");
    var productDescriptionValue = Resource.GetPropertyValue<Product>(Model.Product.Id, "Description");
    var productNameValue = Resource.GetPropertyValue<Product>(Model.Product.Id, "Product.Name");
}

<h2>@ViewBag.Title</h2>

<hr />

<h3>@Resources.Evaluation</h3>

<h5>@productNameValue - @Model.Version</h5>

<p>
    @evaluationDescriptionValue
</p>

@if (!string.IsNullOrEmpty(Model.ImageUrl))
{
    <img src="@Model.ImageUrl" alt="Product Image" class="img-responsive product-image" />
}

<hr />

<h3>@Resources.ProductDescription</h3>

<p>
    @productDescriptionValue
</p>


<h1 class="text-center launch-btn">
    <span>
        <span class="glyphicon glyphicon-flag"></span>
        <span>@Resources.Launch</span>
    </span>
</h1>

@Html.Partial("_Ratings")

@section Scripts {
    <script>
        var scale = @Model.Steps;
    </script>
    @Scripts.Render("~/bundles/app")
}
