@model IEnumerable<Evaluation>

@{
    ViewBag.Title = Resources.Index;
}

<h2>@ViewBag.Title</h2>

<p>

    <span style='float:left;'>
        @Html.ActionLink(Resources.CreateNew, "Create")
    </span>
    <span style='float:right;'>
        @Resources.SortBy
        @Html.DropDownList("SortOptions", null, htmlAttributes: new { @class = "form-control", onchange = "location.href = '?sort=' + this.value" })
    </span>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Version)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Resources.Product @Html.DisplayNameFor(model => model.Product.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th colspan="4"></th>
    </tr>

    @foreach (var item in Model)
    {
        var description = Resource.GetPropertyValue<Evaluation>(item.Id, "Description");
        var product = Resource.GetPropertyValue<Evaluation>(item.ProductId, "Product.Name");

        <tr>
            <td>
                @Html.DisplayFor(_ => item.Version)
            </td>
            <td>
                @description
            </td>
            <td>
                @product
            </td>
            <td>
                @(item.IsActive ? Resources.Yes : Resources.No)
            </td>
            <td>
                <a href="/@ViewBag.CurrentCulture/Evaluations/Edit/@item.Id">
                    <span class="glyphicon glyphicon-edit"></span>&nbsp;@Resources.Edit
                </a>
            </td>
            <td>
                <a href="/@ViewBag.CurrentCulture/Evaluations/Details/@item.Id">
                    <span class="glyphicon glyphicon-icon-list"></span>&nbsp;@Resources.Details
                </a>
            </td>
            <td>
                <a href="/@ViewBag.CurrentCulture/Evaluations/SendInvitation/@item.Id">
                    <span class="glyphicon glyphicon-envelope"></span>&nbsp;@Resources.SendInvitation
                </a>
            </td>
            <td>
                @using (Html.BeginForm("Export", "Manage", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <a title="@Resources.Export" onclick="$(this).parent().submit(); return false;" href="#">
                        <span class="glyphicon glyphicon-export"></span>&nbsp;@Resources.Export @Resources.Reports
                    </a>
                    <input type="hidden" name="id" value="@item.Id" />
                }
            </td>
        </tr>
    }

</table>
