@model IEnumerable<Evaluation>

@{
    ViewBag.Title = Resources.MyEvaluations;
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col col-lg-3 col-md-3 list-group-item-heading">
        <b>@Resources.ProductName</b>
    </div>

    <div class="col col-lg-3 col-md-3 list-group-item-heading">
        <b>@Resources.VersionDisplay</b>
    </div>
</div>

<div class="my-evaluation-list">
    @if (!Model.Any())
    {
        <div class="row my-evaluation-list-item">
            <div class="col col-sm-6">
                @Resources.NoEvaluationsAvailable
            </div>
        </div>
    }
    else
    {
        foreach (var evaluation in Model)
        {
            var productName = Resource.GetPropertyValue<Evaluation>(evaluation.Product.Id, "Product.Name");

            <div class="row my-evaluation-list-item">
                <div class="col col-sm-3">
                    @Html.DisplayFor(_ => productName)
                </div>

                <div class="col col-sm-3">
                    @Html.DisplayFor(_ => evaluation.Version)
                </div>

                <div class="col col-sm-3">
                    @Html.ActionLink(Resources.ProceedToDetails, "EvaluationDescription", new { id = evaluation.Id }, new { htmlAttributes = new { @class = "btn btn-link" } })
                </div>
            </div>
        }
    }
</div>
