@model Evaluation

@{
    ViewBag.Title = Resources.SendInvitation;
    var descriptionValue = Resource.GetPropertyValue<Evaluation>(Model.Id, "Description");
    var productNameValue = Resource.GetPropertyValue<Product>(Model.Product.Id, "Product.Name");
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Evaluation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Version)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Version)
        </dd>

        <dt>
            @Resources.ProductName
        </dt>

        <dd>
            @Html.DisplayFor(_ => productNameValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(_ => descriptionValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @(Model.IsActive ? Resources.Yes : Resources.No)
        </dd>

    </dl>
</div>

@using (Html.BeginForm("SendInvitation", "Evaluations", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>User</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <label class="col-md-2 control-label" for="firstName">First Name</label>
            <div class="col-md-10">
                <input name="firstName" class="form-control" id="firstName" type="text" value="" data-val-required="The First Name field is required." data-val="true">
                <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="firstName"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="lastName">Last Name</label>
            <div class="col-md-10">
                <input name="lastName" class="form-control" id="lastName" type="text" value="">
                <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="lastName"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="email">Email</label>
            <div class="col-md-10">
                <input name="email" class="form-control" id="email" type="email" value="" data-val-required="The Email field is required." data-val-email="The Email field is not a valid e-mail address." data-val="true">
                <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="email"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="description">Description</label>
            <div class="col-md-10">
                <textarea name="Description" class="form-control text-box multi-line" id="Description" value=""></textarea>
                <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="description"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Resources.Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <a href="/@ViewBag.CurrentCulture/Evaluations">
        <span class="glyphicon glyphicon-hand-left"></span> @Resources.BackToList
    </a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
